.title-canciones {
  font-size: 23px;
  font-weight:bold;
  font-family:tahoma;
  height: 50px;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.canciones {
  padding: 20px; 
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cancion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 10px);
}

.cancion > h4 {
  text-transform: capitalize;
}

.img-playlis {
width: 58px;
height: 88px;
}

.input-box:focus {
  border-color: grey;
  outline: none;
}