.title-canciones {
  font-size: 23px;
  font-weight:bold;
  font-family:tahoma;
  height: 50px;
  padding: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.table-container {
  padding: 20px; 
  text-align: center;
}

.img-playlis {
width: 100px;
height: 140px;
}
