.body {
  margin: 0;
}

.navbar-container {
  padding: 0 20px;
  background: white;
}

.navbar-content {
  height: 55px;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: auto;
  height: 50px;
}

.logo-title {
  color: rgb(12, 92, 211);
  font-size: 20px;
}

.nav-links {
  margin-left: 100px;
  display: flex;
}

.nav-link {
  color: black;
  padding: 0 30px;
  text-decoration: none;
}

.main-container {
  background: rgb(245, 242, 242);
  height: 750px;
  padding: 0 20px;
}

.main-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.block-container {
  padding-top: 20px;
}

.block-content {
  background: rgb(221, 220, 220);
  border-radius: 5px;
  width: 100%;
  max-height: 350px;
  padding: 40px 20px;
  display: flex;
  height: 400px;
}

.block-info {
  width: 50%;
}

h2 {
  font-size: 23px;
  font-weight:bold;
  font-family:tahoma;
  height: 70px;
}

h3 {
  font-family: arial;
  font-weight:300;
  font-size: 15px;
  height: 30px;
  display: flex;
  width: 400px;
}

.ver-canciones {
  margin-left: 25px;
  width: 150px;
}

.slider {
  background-color: rosybrown;
  width: 300px;
  height: 200px;
  float: right;
  margin-right: 30px
}

img {
  width: 450px;
  height: 265px;
  border-radius: 5px;
}