.form-group {
width: 420px;
padding: 15px;
margin-left: 400px;
}

#boton-continuar {
  margin-left: 415px;
}

#inicio-sesion {
  text-align: center;
  margin-right: 202px;
  padding-top: 30px;
}

.my-input-group {
  display: flex;
  flex-direction: column;
}

.input-error {
  color: red;
  display: none;
}

.input-error--is-active {
  display: block;
}