#tit-registro {
  margin-left: 415px;
  width: 200px;
  padding-top: 20px;
}

.form-check {
  display: flex;
  text-align: inherit;
  justify-content: center;
  margin-right: 272px;
  padding: 10px;
}

#bot-guardarregistro {
  margin-left: 415px;
}

.genero-container {
  width: 813px;
  padding: 10px;
  padding-left: 413px;
}

.radial-option {
  height: 110px;
  width: 350px;
  margin-left: 414px;
  padding: 5px;
}

.form-group {
  padding: 8px;
}